.button_main {
    display: block;
    width: 241px;
    height: 60px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
    background-color: #00c2f0;
    border-style: none;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}